.center{
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 100px 10px 10px 10px;
    height: 600px;
}
.contact-us-form{
    margin: auto;
    border: 2px solid;
    text-align: center;
    padding: 10px;
    width: 40%;
    height: auto;
    border-radius: 20px;
    background-color: aquamarine;
}
.table{
    border: 2px solid;
    border-radius: 20px;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    table-layout: fixed;
}
.table th , td {
    border: 2px solid;
    text-align: center;
    word-wrap: break-word;
}

.center h3{
    text-align: center;
}
.table td:nth-child(1){
    background-color: teal;
}
.table td:nth-child(2){
    background-color: teal;
}
.table td:nth-child(3){
    background-color: teal;
}
.table td:nth-child(4){
    background-color: teal;
}
.table td:nth-child(5){
    background-color: red;
    padding-top: 15px;
}
.table th:nth-child(1){
    width: 20%;
}
.table th:nth-child(2){
    width: 20%;
}
.table th:nth-child(3){
    width: 30%;
}
.table th:nth-child(4){
    width: 20%;
}
.table th:nth-child(5){
    width: 10%;
}
.login-div{
    margin: auto;
    border: 2px solid;
    text-align: center;
    padding: 10px;
    width: 40%;
    height: auto;
    border-radius: 20px;
    background-color: khaki;
}
.request-body{
    margin: 0px;
    padding-top: 0px;
    background-color: teal;
}
.index-body{
    margin: 0px;
    padding-top: 0px;
   background-color: darksalmon;
}
#admin-text{
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#admin-login-button{
    background-color: white;
    padding-top: 10px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#admin-login-button:hover{
    background-color: darkgray;
}
.table-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: darksalmon;
    vertical-align: center;
}
.request-center {
    margin: auto;
    padding-top: 0;
    width: 100%;
    background-color: #d5f7f7;
    height: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}
.request-center h3{
    color: black;
    text-align: center;
}
#logout{
    border: 2px solid;
    border-radius: 50px;
    background-color: coral;
    width: 200px;
    height: 75px;
    font-size: larger;
}
.logout-div{
    padding-top: 35px;
    padding-bottom: 130px;
    margin: 0 auto 0 auto;
}
.active-archive-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}